@import url(//db.onlinewebfonts.com/c/207db9214b0becda581e19c2d4f00ae7?family=Kinescope);

.App {
  text-align: center;
}

h1 {
  font-family: kinescope, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  margin: 0;
  color: #ec3995;
}
